/* Extra Styles for extra pages */

.category-continued #showcase {
    margin-top: 0;
}

.page-history {
    padding: 20px;
}

.page-history span {
    color: var(--c_radient_red);
}

.page-history ul {
    display: flex;
    flex-direction: row;
    gap: 10px;
    list-style: none;
    font-family: var(--jakarta);
    font-size: 1.2em;
    font-weight: 400;
}

.page-history a {
    text-decoration: none;
    color: var(--c_sky_blue);
}

.page-history a:hover {
    color: var(--c_radioactive);
}

.current {
    color: var(--c_cool_gray);
}

.page-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.page-title h1 {
    font-family: var(--pop);
    font-size: 3em;
    
}

.page-title p {
    max-width: 585px;
    font-family: var(--body);
}

/* Contact */

#contact-showcase {
    background: var(--chill);
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 50px;
    padding: 60px 0;
    align-items: flex-start;
    align-content: space-around;
}


.contact-info h1,
.contact-info p {
    font-family: var(--jakarta);
    margin-top: 5px;
    color: black;
}

.contact-info h1 {
    font-size: 2em;
}

.contact-info p {
    font-size: 1.4em;
}

.contact-info a {
    font-family: var(--jakarta);
    font-size: 1.5em;
    display: flex;
    flex-direction: column;
    margin: 20px 0px;
    text-decoration: none;
    color: black;
    font-weight: 600;
}

.contact-info a:hover {
    color: var(--c_sun_yellow);
}


.contact-info button {
    background-color: var(--c_cool_green);
    color: black;
    border: 2px solid var(--c_radioactive);
    border-radius: 20px;
    padding: 10px;
    font-size: 1.2rem;
    font-weight: 500;
    font-family: var(--pop);
    cursor: pointer;
    transition: all 0.3s ease;
    margin-top: 10px;
}

.contact-info button:hover {
    background-color: var(--c_shamrock);
}