:root {

  /* Colors */
  --c_zap_yellow: #FFF806;
  --c_sun_yellow: #fdf74f;
  --c_radient_blue: #0000FF;
  --c_cool_blue: #5555ec;
  --c_sky_blue: #64e2ec;
  --c_radient_red: #FF0000;
  --c_cool_red: #f35a5a;
  --c_radient_pink: #F800FF;
  --c_cool_pink: #e864ec;
  --c_gray_pink: #b17eb3;
  --c_cool_gray: #CECECE;
  --c_charcoal_gray: #3D3D3D;
  --c_radioactive: #19FF00;
  --c_cool_green: #88f07c;

  /* Fonts */
  --jakarta: "Plus Jakarta Sans", sans-serif;
  --klee: "Klee One", cursive;
  --mulish: "Mulish", sans-serif;
  --pop: "Poppins", sans-serif;
  --body: "Chocolate Classical Sans", sans-serif;

  /* Gradients */
  --rainbow: linear-gradient(90deg,rgba(131, 58, 180, 1) 0%, rgba(253, 29, 29, 1) 24%, rgba(69, 90, 252, 1) 43%, rgba(248, 0, 255, 1) 66%, rgba(84, 252, 69, 1) 86%);
  --pink_green: radial-gradient(circle, rgba(25, 255, 0, 1) 0%, rgba(248, 0, 255, 1) 50%, rgba(38, 84, 38, 1) 100%);
  --original: radial-gradient(circle,rgba(122, 149, 255, 1) 0%, rgba(12, 232, 195, 1) 50%, rgba(44, 60, 130, 1) 100%);
  --candy: linear-gradient(101deg,rgba(63, 198, 251, 1) 0%, rgba(248, 0, 255, 1) 47%, rgba(63, 198, 251, 1) 100%);
  --gamma: linear-gradient(90deg,rgba(255, 0, 0, 1) 0%, rgba(85, 85, 236, 1) 100%);
  --chill: linear-gradient(90deg,rgba(177, 126, 179, 1) 0%, rgba(85, 85, 236, 1) 100%);
  --yellow_burst: radial-gradient(circle,rgba(255, 248, 6, 1) 0%, rgba(133, 0, 138, 1) 100%);
}

::selection {
    background-color: var(--c_shamrock);
    color: black;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all 0.3s ease;
}

body {
  background: var(--c_charcoal_gray);
}

h1 {
  color: var(--c_sky_blue);
}

p {
  color: var(--c_cool_gray);
}

/* Nav Menu Searchbar */

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 7rem;
    width: 100%;
    margin: 0 auto;
    background: var(--original);
}

.rainbow-separator {
  height: 3px;
  width: 100%;
  background: var(--rainbow);
}

.main-menu {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 2rem;
}

.main-menu li a {
    text-decoration: none;
    font-family: var(--jakarta);
    color: black;
    font-size: 1.5em;
    font-weight: 800;
    transition: color 0.3s ease;
}

.main-menu li a:hover {
  color: var(--c_zap_yellow);
}

nav img {
    width: 155px;
}

.cart svg {
  width: 40px;
}

.cart svg .cls-1 {
  fill: black; 
  transition: fill 0.3s ease;
}

.cart a:hover svg .cls-1 {
  fill: var(--c_zap_yellow);
}

.search_box {
  display: block;
  position: relative;
  width: 50%;
  margin: 0 40px;
}

.search_box input {
  width: 100%;
  padding: 15px 60px 15px 20px;
  background: var(--c_charcoal_gray);
  border: none;
  border-radius: 30px;
  font-family: var(--pop);
  font-size: 1.3em;
  color: var(--c_cool_gray);
}

.search_box input:focus {
  outline: none;
}

.search_box .search-icon {
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translateY(-50%);
  width: 25px;
  fill: var(--c_cool_gray);
  cursor: pointer;
  transition: fill 0.3s ease;
}

.search_box:hover .search-icon {
  fill: var(--c_sun_yellow);
}

.search-icon2:hover,
.menu-icon:hover {
  fill: var(--c_zap_yellow);
}

/* Category Buttons */

#category {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 10px;
  background: var(--c_charcoal_gray);
  margin-top: 4px;
}

#category button {
  width: 100%;
  max-width: 200px;
  padding: 20px;
  margin: 30px;
  background: var(--chill);
  color: white;
  font-family: var(--pop);
  font-size: 1.5em;
  font-weight: 600;
  cursor: pointer;
  border-radius: 17px;
  border: none;
  transition: background 0.3s ease;
}

#category button:hover, 
#category button:first-child {
  background: var(--yellow_burst);
  color: black;
  
}

/* Category Arrow */

.cat-arrow {
  display: flex;
  justify-content: center;
  margin-right: 790px;
  background: var(--c_charcoal_gray);
  width: 100%;
  padding: 4px;
}

#cat-select {
  width: 100px;
  height: auto;
  background: none;
}

#cat-select polygon {
  fill: var(--c_radient_pink); 
}

/* Showcase */

#showcase {
  background: url("../images/gammabg_04.webp") center center / cover no-repeat;
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 90px;
  margin-top: -54px;
  padding-bottom: 60px;
}


.card {
  position: relative;
  height: 250px;
  max-width: 250px;
  width: auto;
  flex: 0 0 auto;
  margin: 50px 30px;
  transition: transform 0.3s ease;
}

.card:hover {
  transform: scale(1.08);
  cursor: pointer;
}

.card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  border-radius: 40px 40px 0 0;
}

#showcase h2 {
  font-family: var(--mulish);
  padding: 1.25rem;
  text-decoration: none;
  text-align: center;
  font-size: 1.1em;
  color: white;
  height: 75px;
  max-height: 100px;
  background: black;
}

#showcase h2:hover {
  color: var(--c_zap_yellow);
}

#showcase a {
  text-decoration: none;
}

/* Showcase Cards */

/* Brands */

#brands {
  text-align: center;
  margin: 90px;
}

#brands h1 {
  font-size: 2.5em;
  font-family: var(--jakarta);
  margin-bottom: 55px;
}

.underline {
  text-decoration: underline;
  text-decoration-color: var(--c_radioactive);
  text-decoration-thickness: 8px;
}

.brand-lineup {
  display: flex;
  justify-content: center;
  flex-direction: row;
  gap: 27px;
}

.brand-lineup img {
  max-width: 120px;
  height: auto;
  border-radius: 60px;
  box-shadow: 0 4px 8px rgb(26 255 0 / 56%);
}

/* Footer */

footer {
  background-color: black;
  display: flex;
  justify-content: center;
  gap: 260px;
  padding: 40px 0 70px;
}

footer img {
  width: 185px;
}

.footer-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  list-style: none;
}

.footer-list ul {
  list-style: none;
  margin: 5px 0;
}

.footer-list ul a {
  color: var(--c_radioactive);
  text-decoration: none;
  font-family: var(--mulish);
  font-weight: 500;
  font-size: 1.3em;
  transition: color 0.3s ease;
}

.footer-list ul a:hover {
  color: var(--c_radient_red);
}

.footer-list h1 {
  font-family: var(--pop);
  color: white;
  font-weight: 700;
}

/* Disclaimer */

.disclaimer {
  background: var(--pink_green);
  font-family: var(--mulish);
  text-align: center;
  padding: 15px;
}

.disclaimer p {
  color: black;
}

.disclaimer p:first-child {
  font-style: italic;
}

.disclaimer p:nth-child(2) {
  font-weight: bold;
  font-family: var(--mulish);
  font-size: 0.7em;
}

/* Mobile Menu */

.mobile-menu-btns {
  display: none;
}

.mobile-menu-btns svg {
  height: 25px;
  fill: black;
}

.overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.6);
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
  z-index: 999;
}

.mobile-slide-menu {
  position: fixed;
  top: 0;
  right: -80%;
  width: 80%;
  height: 100vh;
  background: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-items: flex-start;
  z-index: 1000;
  overflow-y: auto;
  transition: right 0.3s ease;
}

#menu-toggle:checked ~ .overlay {
  opacity: 1;
}

#menu-toggle:checked ~ .mobile-slide-menu {
  right: 0;
  background-color: var(--c_cool_pink);
}

.slide-menu-head {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 100px;
  width: 100%;
  padding: 25px;
}

.slide-menu-head h2 {
  font-size: 2.2em;
  font-family: var(--jakarta);
}

.close-icon {
  width: 25px;
}

.mobile-slide-menu ul {
  list-style: none;
  padding-left: 28px;
}

.mobile-slide-menu li {
  padding-bottom: 20px;
}

.mobile-slide-menu ul a {
  text-decoration: none;
  color: black;
  font-size: 1.5rem;
  font-weight: 700;
  font-family: var(--jakarta);
}

.mobile-menu-icon {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.mobile-menu-icon svg {
  height: 25px;
}

.separator-mobile {
  width: 100%;
  height: 4px;
  margin: 10px 0;
  background: var(--rainbow);
}

.mobile-menu-category,
.mobile-menu-foot {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.mobile-menu-category ul {
  padding: 0;
}

.mobile-menu-category h3,
.mobile-menu-foot h3 {
  padding: 0px 0px 10px;
  font-family: var(--jakarta);
  font-size: 1.6rem;
  font-weight: 700;
  color: var(--c_radient_blue);
}

.mobile-menu-foot h3:hover {
  color: var(--c_zap_yellow)
}

.mobile-menu-category li {
  padding: 4px 0px;
  max-width: 230px;
}

.mobile-menu-category li a {
  font-size: 1.2em;
  font-weight: 400;
  text-decoration: underline;
}

.mobile-menu-category li a:hover {
  color: var(--c_zap_yellow);
}

/* Responsive */

@media (max-width: 900px) {

  .search_box,
  .main-menu {
    display: none;
  }

  .mobile-menu-btns {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
  }

  nav {
    padding: 10px;
    justify-content: space-around;
  }

  nav img {
    width: 130px;
  }

  #showcase {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  #category {
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
  }

  #category button {
    margin: 0;
  }

  .cat-arrow {
    display: flex;
    justify-content: center;
    margin: 0;
  }

  #brands {
    margin: 22px;
  }

  .brand-lineup {
    flex-direction: column;
    align-items: center;
  }

  footer {
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 25px;
  }

  .disclaimer p:first-child {
    margin-bottom: 20px;
  }

  #contact-showcase {
    align-items: center;
  }

  .contact-info {
    max-width: 200px;
}
}