:root {

  /* Colors */
  --c_purple_velvet: #A057FF;
  --c_cool_gray: #CECECE;
  --c_charcoal_gray: #3D3D3D;
  --c_shamrock: #5CFF77;
  --c_dark_purple: #500592;
  --c_light_purple: #E7D5FF;
  --c_swedish_fish: #D10F0F;

  /* Fonts */
  --jakarta: "Plus Jakarta Sans", sans-serif;
  --klee: "Klee One", cursive;
  --mulish: "Mulish", sans-serif;
  --pop: "Poppins", sans-serif;
  --body: "Chocolate Classical Sans", sans-serif;
}

::selection {
    background-color: var(--c_shamrock);
    color: black;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all 0.3s ease;
}

/* Nav Menu Searchbar */

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 7rem;
    width: 100%;
    margin: 0 auto;
    box-shadow: 0 2px 10px rgba(1, 0, 0, 0.2);
}

.main-menu {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 2rem;
}

.main-menu li a {
    text-decoration: none;
    font-family: var(--jakarta);
    color: black;
    font-size: 1.5em;
    font-weight: 800;
    transition: color 0.3s ease;
}

.main-menu li a:hover {
  color: var(--c_purple_velvet);
}

nav img {
    width: 155px;
}

.cart svg {
  width: 40px;
}

.cart svg .cls-1 {
  fill: black; 
  transition: fill 0.3s ease;
}

.cart a:hover svg .cls-1 {
  fill: var(--c_purple_velvet);
}

.search_box {
  display: block;
  position: relative;
  width: 50%;
  margin: 0 40px;
}

.search_box input {
  width: 100%;
  padding: 15px 60px 15px 20px;
  background: var(--c_cool_gray);
  border: none;
  border-radius: 30px;
  font-family: var(--pop);
  font-size: 1.3em;
}

.search_box .search-icon {
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translateY(-50%);
  width: 25px;
  fill: #231f20;
  cursor: pointer;
  transition: fill 0.3s ease;
}

.search_box:hover .search-icon {
  fill: var(--c_purple_velvet);
}

.search-icon2:hover,
.menu-icon:hover {
  fill: var(--c_purple_velvet);
}

/* Category Buttons */

#category {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 10px;
}

#category button {
  width: 100%;
  max-width: 200px;
  padding: 20px;
  margin: 30px;
  background: var(--c_dark_purple);
  color: white;
  font-family: var(--pop);
  font-size: 1.5em;
  font-weight: 600;
  cursor: pointer;
  border-radius: 17px;
  border: none;
  transition: background 0.3s ease;
}

#category button:hover, 
#category button:first-child {
  background: var(--c_purple_velvet);
}

/* Category Arrow */

.cat-arrow {
  display: flex;
  justify-content: center;
  margin-right: 400px;
}

#cat-select {
  width: 100px;
  height: auto;
}

#cat-select polygon {
  fill: var(--c_light_purple); 
}

/* Showcase */

#showcase {
  background-color: var(--c_light_purple);
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 90px;
  margin-top: -54px;
  padding-bottom: 60px;
}

.card {
  position: relative;
  height: 250px;
  max-width: 250px;
  width: auto;
  flex: 0 0 auto;
  margin: 50px 30px;
  transition: transform 0.3s ease;
}

.card:hover {
  transform: scale(1.08);
  cursor: pointer;
}

.card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  border-radius: 40px 40px 0 0;
}

#showcase h2 {
  font-family: var(--mulish);
  padding: 1.25rem;
  text-decoration: none;
  text-align: center;
  font-size: 1.1em;
  color: white;
  height: 75px;
  max-height: 100px;
  background-color: var(--c_charcoal_gray);
}




/* Showcase Cards */

/* Brands */

#brands {
  text-align: center;
  margin: 90px;
}

#brands h1 {
  font-size: 2.5em;
  font-family: var(--jakarta);
  margin-bottom: 55px;
}

.underline {
  text-decoration: underline;
  text-decoration-color: var(--c_swedish_fish);
  text-decoration-thickness: 8px;
}

.brand-lineup {
  display: flex;
  justify-content: center;
  flex-direction: row;
  gap: 27px;
}

.brand-lineup img {
  max-width: 120px;
  height: auto;
  border-radius: 60px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.25);
}

/* Footer */

footer {
  background-color: var(--c_cool_gray);
  display: flex;
  justify-content: center;
  gap: 260px;
  padding: 40px 0 70px;
}

footer img {
  width: 185px;
}

.footer-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  list-style: none;
}

.footer-list ul {
  list-style: none;
  margin: 5px 0;
}

.footer-list ul a {
  color: black;
  text-decoration: none;
  font-family: var(--mulish);
  font-weight: 500;
  font-size: 1.3em;
  transition: color 0.3s ease;
}

.footer-list ul a:hover {
  color: var(--c_purple_velvet);
}

.footer-list h1 {
  font-family: var(--pop);
  color: white;
  font-weight: 700;
}

/* Disclaimer */

.disclaimer {
  background: var(--c_purple_velvet);
  font-family: var(--mulish);
  text-align: center;
  color: white;
  padding: 15px;
}

.disclaimer p:first-child {
  font-style: italic;
}

.disclaimer p:nth-child(2) {
  font-weight: bold;
  font-family: var(--mulish);
  font-size: 0.7em;
}

/* Mobile Menu */

.mobile-menu-btns {
  display: none;
}

.mobile-menu-btns svg {
  height: 25px;
  fill: black;
}

.overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.6);
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
  z-index: 999;
}

.mobile-slide-menu {
  position: fixed;
  top: 0;
  right: -80%;
  width: 80%;
  height: 100vh;
  background: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-items: flex-start;
  z-index: 1000;
  overflow-y: auto;
  transition: right 0.3s ease;
}

#menu-toggle:checked ~ .overlay {
  opacity: 1;
}

#menu-toggle:checked ~ .mobile-slide-menu {
  right: 0;
}

.slide-menu-head {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 100px;
  width: 100%;
  padding: 25px;
}

.slide-menu-head h2 {
  font-size: 2.2em;
  font-family: var(--jakarta);
}

.close-icon {
  width: 25px;
}

.mobile-slide-menu ul {
  list-style: none;
  padding-left: 28px;
}

.mobile-slide-menu li {
  padding-bottom: 20px;
}

.mobile-slide-menu ul a {
  text-decoration: none;
  color: black;
  font-size: 1.5rem;
  font-weight: 700;
  font-family: var(--jakarta);
}

.mobile-menu-icon {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.mobile-menu-icon svg {
  height: 25px;
}

.separator-mobile {
  width: 100%;
  height: 4px;
  margin: 10px 0;
  background-color: var(--c_cool_gray);
}

.mobile-menu-category,
.mobile-menu-foot {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.mobile-menu-category ul {
  padding: 0;
}

.mobile-menu-category h3,
.mobile-menu-foot h3 {
  padding: 0px 0px 10px;
  font-family: var(--jakarta);
  font-size: 1.6rem;
  font-weight: 700;
}

.mobile-menu-foot h3:hover {
  color: var(--c_purple_velvet)
}

.mobile-menu-category li {
  padding: 4px 0px;
  max-width: 230px;
}

.mobile-menu-category li a {
  font-size: 1.2em;
  font-weight: 400;
  text-decoration: underline;
}

.mobile-menu-category li a:hover {
  color: var(--c_purple_velvet);
}

/* Responsive */

@media (max-width: 900px) {

  .search_box,
  .main-menu {
    display: none;
  }

  .mobile-menu-btns {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
  }

  nav {
    padding: 10px;
    justify-content: space-around;
  }

  nav img {
    width: 130px;
  }

  #showcase {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  #category {
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
  }

  #category button {
    margin: 0;
  }

  .cat-arrow {
    display: flex;
    justify-content: center;
    margin: 0;
  }

  #brands {
    margin: 22px;
  }

  .brand-lineup {
    flex-direction: column;
    align-items: center;
  }

  footer {
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 25px;
  }

  .disclaimer p:first-child {
    margin-bottom: 20px;
  }

  #contact-showcase {
    align-items: center;
  }

  .contact-info {
    max-width: 200px;
}
}